*.o
*.hi
*~
.depend*
*.sh
ediT2-haskell/src/RT/RT
ediT2-haskell/src/Jigsaw/Jigsaw
ediT2-haskell/src/Constraints/Checker
ediT2-haskell/dist/build/
ediT2-haskell/dist/package.conf.inplace
ediT2-haskell/dist/setup-config
out/
tests/
